@import "tailwindcss";


@theme{
  --color-primary: #7c6cf6;
  --color-secondary: #2dd4bf;
  --color-tertiary: #b96f00;
  --color-neutral: #787680;
  --color-background: #13121a;
  --color-card: #1c1b23;
  --color-card-elevated: #201f27;
  --color-card-hover: #2a2932;
  --color-btn-hover: #8b7df7;
  
}

@theme inline{
  --font-jetbrains: var(--font-jetbrains-mono);
  --font-geist: var(--font-geist-mono);
}